# Silex directories
vendor/*
*/logs/*
*/cache/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar

#Sublime Project
learn_silex.sublime-project
learn_silex.sublime-workspace